/*--------------------------------
 | @file colors.scss
 |
 | Defines colors for the theme
 |--------------------------
*/
/*-----------
  Generic Colors
 -------------*/
body {
  color: #292929;
  background: #191919; }

main {
  background: #ffffff; }

header .region-header > .logo, header .region-header > .name, header .region-header > .navbar-text {
  color: #fafafa; }

header {
  background: #343a40; }
  header .nav > li > a {
    color: #fffffe; }
    header .nav > li > a:after {
      background: #f1862e; }

header .navbar-default .navbar-nav > li > a {
  color: #fffffe; }
header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a:focus {
  color: #fffffe; }
header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
  color: #fffffe; }

@media (max-width: 767px) {
  header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fffffe; }
  header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fffffe; }
  header .navbar-default .navbar-nav .open .dropdown-menu > .active > a, header .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, header .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fffffe;
    background-color: #343a40; }
  header .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, header .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, header .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #fffffe; } }
header .navbar-collapse.collapse.in,
header .navbar-collapse.collapsing {
  background: #343a40; }

header .dropdown-menu {
  background: #343a40;
  border-color: #343a40; }
  header .dropdown-menu:before {
    border-color: transparent transparent #343a40 transparent; }
  header .dropdown-menu > li > a {
    background: #343a40;
    color: #fffffe; }
    header .dropdown-menu > li > a:hover, header .dropdown-menu > li > a:focus {
      background: #343a40;
      color: #fffffe; }
    header .dropdown-menu > li > a:before {
      color: #f1862e; }
    header .dropdown-menu > li > a:after {
      background: #f1862e; }

.sticky-header header {
  background: #343a40 !important; }

.has-header header.menu-expanded {
  background: #343a40 !important; }

.region-content > nav.tabs {
  background: #343a40; }
  .region-content > nav.tabs a.is-active {
    color: #343a40; }

main .field--type-text-with-summary .nav-tabs li a {
  color: #105ea9;
  background: #fffdfd; }
main .field--type-text-with-summary .nav-tabs li.active a, main .field--type-text-with-summary .nav-tabs li:hover a {
  background: #f2f6fa;
  color: #1161af; }
main .field--type-text-with-summary .tab-content {
  background: #f2f6fa;
  color: #1161af; }

body > footer {
  background: #191919;
  color: #fffeee; }
  body > footer h2 {
    color: #fffeee !important; }
    body > footer h2:after {
      background: #fffeee !important; }
  body > footer nav ul.menu.nav li a {
    color: #fffefe; }
    body > footer nav ul.menu.nav li a:hover {
      color: #fffefe; }
      body > footer nav ul.menu.nav li a:hover:before {
        color: #f1862e; }
    body > footer nav ul.menu.nav li a:before {
      color: #f1862e; }
    body > footer nav ul.menu.nav li a:after {
      background: #f1862e; }
  body > footer section[id*='followus']:after {
    background: #fffeee; }
  body > footer section a {
    color: #fffefe; }
    body > footer section a:hover {
      color: #0d72ca; }
  body > footer div[class*="footercolumn1"]:after {
    background: #fffeee; }
  body > footer .block-custom-wrapper {
    color: #fffeee; }
    body > footer .block-custom-wrapper .field--name-field-visible-title {
      color: #fffeee; }
      body > footer .block-custom-wrapper .field--name-field-visible-title:after {
        background: #fffeee; }

main .field--type-text-with-summary a {
  color: #2574b9; }
  main .field--type-text-with-summary a:hover {
    color: #044873; }
main .field--type-text-with-summary ul li::before {
  color: #292920; }
main .field--type-text-with-summary u {
  text-decoration-color: #292920; }
main .field--type-text-with-summary table {
  background: #fefefe; }
  main .field--type-text-with-summary table thead th {
    background: #212529;
    color: #efefef;
    padding: 5px; }
  main .field--type-text-with-summary table tbody tr:nth-child(odd) {
    background-color: #f9f9fa; }
  main .field--type-text-with-summary table tbody tr:nth-child(even) {
    background-color: #e9ecef; }
  main .field--type-text-with-summary table tbody td {
    color: #333333; }
  main .field--type-text-with-summary table tfoot td {
    background-color: #333339;
    color: #999999; }
main .field--type-text-with-summary blockquote {
  color: #bbbbbb; }
main .field--type-text-with-summary hr {
  border-top-color: #cacaca !important; }

.field--type-link a {
  color: #2574b9; }
  .field--type-link a:hover {
    color: #044873; }

.owl-theme .owl-dots .owl-dot span {
  background: #dddddd; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #f1862d; }

.owl-theme .owl-dots .owl-dot.active,
.owl-theme .owl-dots .owl-dot:hover {
  border: 2px solid #f1862d; }

.component-slider .owl-nav .owl-prev,
.component-slider .owl-nav .owl-next {
  color: #0855a0; }

.component-slider .owl-nav .owl-prev:hover,
.component-slider .owl-nav .owl-next:hover {
  color: #0855a0; }

.component-slider .owl-nav .owl-prev.disabled,
.component-slider .owl-nav .owl-next.disabled {
  color: #bebebe; }

.component-slide__caption {
  color: #aaaaaa; }

figcaption {
  color: #aaaaaa; }

.content .field.field--type-entity-reference .field--item a {
  background: #165e9d;
  color: #f2f9ff; }
  .content .field.field--type-entity-reference .field--item a:hover {
    color: #f2f9ff; }

.btn-default {
  color: #ececec;
  background-color: #0d62b6;
  border-color: #063b6f; }
  .btn-default:focus, .btn-default.focus {
    color: #062d53;
    background-color: #696b6c;
    border-color: #063b6f; }
  .btn-default:hover {
    color: #062d53;
    background-color: #696b6c;
    border-color: #063b6f; }
  .btn-default:active, .btn-default.active {
    color: #062d53;
    background-color: #696b6c;
    border-color: #063b6f;
    background-image: none; }
    .btn-default:active:hover, .btn-default:active:focus,
    .btn-default:active .focus, .btn-default.active:hover, .btn-default.active:focus,
    .btn-default.active .focus {
      color: #062d53;
      background-color: #696b6c;
      border-color: #063b6f; }
  .btn-default .badge {
    color: #ececec;
    background-color: #0d62b6; }
  .btn-default.disabled:hover, .btn-default[disabled]:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, .btn-default.disabled.focus, .btn-default[disabled].focus {
    background-color: #696b6c;
    border-color: #063b6f; }

.open > .dropdown-toggle.btn-default {
  color: #062d53;
  background-color: #696b6c;
  border-color: #063b6f;
  background-image: none; }
  .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default.focus {
    color: #062d53;
    background-color: #696b6c;
    border-color: #063b6f; }

fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
  background-color: #696b6c;
  border-color: #063b6f; }

.btn-primary {
  color: #fbfdff;
  background-color: #074888;
  border-color: #063b6f; }

.btn-primary:focus,
.btn-primary.focus {
  color: #02172a;
  background-color: #595959;
  border-color: #063b6f; }

.btn-primary:hover {
  color: #02172a;
  background-color: #595959;
  border-color: #063b6f; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #02172a;
  background-color: #595959;
  border-color: #063b6f; }

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #02172a;
  background-color: #595959;
  border-color: #063b6f; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #595959;
  border-color: #063b6f; }

.btn-primary .badge {
  color: #fbfdff;
  background-color: #074888; }

.btn-success {
  color: #fbfdff;
  background-color: #074888;
  border-color: #063b6f; }

.btn-success:focus,
.btn-success.focus {
  color: #02172a;
  background-color: #595959;
  border-color: #063b6f; }

.btn-success:hover {
  color: #02172a;
  background-color: #595959;
  border-color: #063b6f; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #02172a;
  background-color: #595959;
  border-color: #063b6f; }

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #02172a;
  background-color: #595959;
  border-color: #063b6f; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none; }

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #595959;
  border-color: #063b6f; }

.btn-success .badge {
  color: #fbfdff;
  background-color: #074888; }

.views-view-grid .views-row .views-col article {
  background: #0f5aa4;
  color: #e9f5ff; }
  .views-view-grid .views-row .views-col article a {
    color: #2574b9; }
    .views-view-grid .views-row .views-col article a:before {
      color: #f1862e; }
    .views-view-grid .views-row .views-col article a:hover {
      color: #044873; }
  .views-view-grid .views-row .views-col article > h2 a {
    color: #fdfeff; }
    .views-view-grid .views-row .views-col article > h2 a:hover {
      color: #fdfeff; }

.view-content table {
  background: #fefefe; }
  .view-content table thead th {
    background: #212529;
    color: #efefef;
    padding: 5px; }
  .view-content table tbody tr:nth-child(odd) {
    background-color: #f9f9fa; }
  .view-content table tbody tr:nth-child(even) {
    background-color: #e9ecef; }
  .view-content table tbody td {
    color: #333333; }
  .view-content table tfoot td {
    background-color: #333339;
    color: #999999; }

.block-custom-wrapper {
  background: #0f5aa4;
  color: #e9f5ff; }
  .block-custom-wrapper .field--name-field-visible-title {
    color: #fdfeff; }
    .block-custom-wrapper .field--name-field-visible-title:before {
      color: #f1862e; }

main .block-custom-wrapper .field--type-text-with-summary a {
  color: #2574b9; }
  main .block-custom-wrapper .field--type-text-with-summary a:hover {
    color: #044873; }

.pagination > li a,
.pagination > li span {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -khtml-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  color: #2574b9; }
.pagination > li a::before {
  color: #2574b9; }
.pagination > li a:hover {
  color: #044873; }
.pagination .page__item--previous::before, .pagination .page__item--next::before {
  color: #2574b9; }
.pagination .page__item--previous:hover::before, .pagination .page__item--next:hover::before {
  color: #044873; }

/*
1. Home Page
   1.1 Home Page Header Image
   1.2 Home Page Thumbnails
   1.3 Home Page Indico Feeds
   1.4 Home Page Indico Feed Blocks
2. Pages
  2.1 Links Block
  2.2 Indico Sidebar
*/
.component-row.component-row__display__fluid.section-navigation.effect_background_parallax.is_full_height {
  height: calc(70vh - 78px) !important; }
  @media only screen and (max-width: 1210px) {
    .component-row.component-row__display__fluid.section-navigation.effect_background_parallax.is_full_height {
      height: calc(80vh - 78px) !important; } }

.cern-component-header-blocks .component-header__scroll {
  top: calc(20vh - 78px);
  /*@media only screen and (max-width: 1210px) {
   top: calc(20vh - 78px);
  }*/ }
  @media only screen and (max-width: 1210px) {
    .cern-component-header-blocks .component-header__scroll {
      top: calc(30vh - 78px); } }

.region-content > nav.tabs {
  position: absolute;
  top: 41em !important; }

/*----- 1.Home Page -----*/
/*----- 1.1 Home Page Header Image -----*/
/*.header-block {
  .header-block__title {
    top: 20%;
    .header-block__name {
      background: $half-black;
      position: relative;
      line-height: 1.5 !important;
      color: $white;
      padding: 1em;
      width: 30%;

      @media only screen and (max-width: 1350px) {
        top: 3em;
        width:100%;
      }
    }
  }
}*/
.header-block .header-block__title {
  top: calc(20vh - 78px);
  color: white;
  width: 60%;
  background: rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 1210px) {
    .header-block .header-block__title {
      width: 50%;
      bottom: 60% !important;
      position: relative !important;
      padding: 0 !important; } }
  @media only screen and (max-width: 767px) {
    .header-block .header-block__title {
      width: 100%;
      bottom: 55%;
      margin: 0 !important;
      padding: 0 !important;
      position: relative !important; } }
  .header-block .header-block__title .header-block__name {
    margin: 0 !important;
    padding: 1em;
    line-height: 1.5 !important; }

/*header {
    .region-header {
      > .name {
        line-height: 1.5; // make the site name at the same level of main menu
        font-size: 2em;
        font-weight: bold;

        @media only screen and (max-width: 1350px) {
          position: absolute;
          width: 50%;
          line-height: 0;
          top: 1em;
        }
      }
    }
}*/
.region-header > .name {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.6em; }
  @media only screen and (max-width: 767px) {
    .region-header > .name {
      position: relative;
      top: -3em;
      font-size: 1em;
      line-height: 0;
      left: 1em;
      font-weight: unset; } }

/*.sticky-header .region-header > .name {
  line-height: 1;
}*/
/*----- 1.2 Home Page Thumbnails -----*/
.front-page-thumbnails {
  margin: 0 !important; }
  .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home {
    text-align: center;
    margin-bottom: 0; }
    .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home div {
      display: table-cell;
      padding: 1em 1em 0em 1em;
      position: relative; }
      @media only screen and (min-width: 1210px) {
        .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home div {
          height: 25em; } }
      .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home div > a {
        color: white;
        position: relative;
        font-size: 1.5em;
        top: 2em; }
    .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home ul {
      position: absolute;
      bottom: 0;
      padding: 0;
      text-align: left;
      list-style: none;
      width: 90%;
      margin: 0; }
      .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home ul li {
        display: flex; }
        .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home ul li a {
          font-size: 1.1em;
          color: white;
          line-height: 1.5;
          padding: 0.4em 1em;
          position: relative;
          width: 100%; }
          .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home ul li a:hover {
            background: rgba(0, 0, 0, 0.2); }
    .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home img {
      min-height: 100%; }

/*----- 1.2 Home Page Indico Feeds -----*/
.block-custom-wrapper {
  background: none;
  color: black; }
  .block-custom-wrapper.whats-on-block {
    padding: 20px 0;
    margin: 5em 0;
    background: none; }
    .block-custom-wrapper.whats-on-block .front-line-indico {
      background: #292929;
      color: white;
      width: 100%;
      position: relative;
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      padding: 1em; }
  .block-custom-wrapper .landing-page-content-block {
    margin: 3em 0 10px !important;
    color: black !important; }

/*----- 1.3 Home Page Indico Feed Blocks -----*/
section.block-views-blockindico-feed-indico-feed-ph-seminars {
  width: 50%;
  float: left;
  text-align: right;
  min-height: 15em;
  padding-top: 2em;
  padding-right: 2em; }
  @media only screen and (max-width: 1210px) {
    section.block-views-blockindico-feed-indico-feed-ph-seminars {
      min-height: 20em; } }
  section.block-views-blockindico-feed-indico-feed-ph-seminars .view-header {
    font-size: 2em; }
  section.block-views-blockindico-feed-indico-feed-ph-seminars .view-content {
    width: 50%;
    float: right; }
section.block-views-blockindico-feed-indico-feed-th-institutes {
  width: 50%;
  float: right;
  min-height: 15em;
  padding: 2em 0 0 2em;
  border-left: 1px solid black; }
  @media only screen and (max-width: 1210px) {
    section.block-views-blockindico-feed-indico-feed-th-institutes {
      min-height: 20em; } }
  section.block-views-blockindico-feed-indico-feed-th-institutes .view-header {
    font-size: 2em; }
  section.block-views-blockindico-feed-indico-feed-th-institutes .view-content {
    width: 50%; }
section.block-views-blockindico-feed-indico-feed-fcc-collider {
  width: 50%;
  float: left;
  text-align: right;
  min-height: 15em;
  top: -2em;
  position: relative; }
  @media only screen and (max-width: 1210px) {
    section.block-views-blockindico-feed-indico-feed-fcc-collider {
      min-height: 20em; } }
  section.block-views-blockindico-feed-indico-feed-fcc-collider:before {
    content: '';
    width: 50%;
    left: 50%;
    border-top: 1px solid black;
    position: relative; }
  section.block-views-blockindico-feed-indico-feed-fcc-collider .form-group {
    padding: 0 2em 0 2em; }
  section.block-views-blockindico-feed-indico-feed-fcc-collider .view-header {
    font-size: 2em;
    padding-top: 1em; }
  section.block-views-blockindico-feed-indico-feed-fcc-collider .view-content {
    width: 50%;
    float: right; }
section.block-views-blockindico-feed-indico-feed-mcnet {
  width: 50%;
  float: right;
  min-height: 15em;
  border-left: 1px solid black;
  top: -2em;
  position: relative; }
  @media only screen and (max-width: 1210px) {
    section.block-views-blockindico-feed-indico-feed-mcnet {
      min-height: 20em; } }
  section.block-views-blockindico-feed-indico-feed-mcnet:before {
    content: '';
    width: 50%;
    position: relative;
    border-top: 1px solid black; }
  section.block-views-blockindico-feed-indico-feed-mcnet .form-group {
    padding: 0 2em 0 2em; }
  section.block-views-blockindico-feed-indico-feed-mcnet .view-header {
    font-size: 2em;
    padding-top: 1em; }
  section.block-views-blockindico-feed-indico-feed-mcnet .view-content {
    width: 50%; }

/*----- 2. Pages -----*/
/*----- 2.1 Links Block -----*/
.landing-page-block-links {
  width: 50%;
  position: relative; }
  .landing-page-block-links ul {
    margin: 0 !important; }
    .landing-page-block-links ul li {
      background: #292929;
      margin-bottom: 1em;
      transition: .5s;
      height: 2.5em; }
      .landing-page-block-links ul li:before {
        display: none; }
      .landing-page-block-links ul li:hover {
        background-color: #343a40;
        border-color: #343a40;
        transition: .5s;
        cursor: pointer; }
      .landing-page-block-links ul li a {
        text-decoration: none;
        color: white !important;
        width: 100%;
        position: absolute;
        padding: .5em;
        font-size: 1.2em; }
        .landing-page-block-links ul li a:hover {
          text-decoration: none;
          color: white !important; }

/*----- 2.2 Indico Sidebar -----*/
.indico-feed-sidebar {
  background: #292929;
  color: white;
  line-height: 2;
  position: relative;
  top: 6em;
  padding: 1em;
  margin-right: 1em; }
  .indico-feed-sidebar .view-header {
    font-size: 2em;
    border-bottom: 1px solid white; }
  .indico-feed-sidebar .view-content .views-row .views-field-title {
    padding-top: 1em; }
    .indico-feed-sidebar .view-content .views-row .views-field-title .field-content a {
      font-size: 1.2em !important; }
    .indico-feed-sidebar .view-content .views-row .views-field-title .field-content a {
      color: white;
      font-size: 1em;
      transition: .2s;
      text-decoration: none; }
      .indico-feed-sidebar .view-content .views-row .views-field-title .field-content a:hover {
        transition: .2s;
        text-shadow: 1px 1px white; }
  .indico-feed-sidebar .view-content .views-row:not(:last-child) .views-field-field-indico-event-start-date {
    border-bottom: 1px solid white;
    width: 6em; }

@media only screen and (max-width: 1210px) {
  .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home div {
    display: inline-block;
    padding: 0;
    position: relative; }
    .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home div ul {
      bottom: 0;
      width: 100%; }
      .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home div ul li a {
        padding: 0em 1em; }

  .structure-page-block {
    width: 100%; }

  .indico-feed-sidebar {
    top: 5em;
    left: 2em;
    margin-right: 4em; }

  .block-views-blockindico-feed-indico-feed-ph-seminars,
  .block-views-blockindico-feed-indico-feed-th-institutes,
  .block-views-blockindico-feed-indico-feed-fcc-collider,
  .block-views-blockindico-feed-indico-feed-mcnet {
    min-height: 25em; } }
  @media only screen and (max-width: 1210px) and (max-width: 535px) {
    .block-views-blockindico-feed-indico-feed-ph-seminars,
    .block-views-blockindico-feed-indico-feed-th-institutes,
    .block-views-blockindico-feed-indico-feed-fcc-collider,
    .block-views-blockindico-feed-indico-feed-mcnet {
      min-height: 30em; } }

/*---------- Many of the rule-sets are overriding the CERN themes' rules. ---------- */
.sticky-header header, header {
  height: 4em; }
  .sticky-header header div.header-wrapper, header div.header-wrapper {
    height: 4em;
    padding: 0 5% 15px; }
    .sticky-header header div.header-wrapper .site-nav, header div.header-wrapper .site-nav {
      width: 100%;
      height: 4em; }
      .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu, header div.header-wrapper .site-nav .menu.menu--main-menu {
        display: flex;
        float: right;
        height: 4em; }
        .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li, header div.header-wrapper .site-nav .menu.menu--main-menu > li {
          margin: 0; }
          .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li span.caret, header div.header-wrapper .site-nav .menu.menu--main-menu > li span.caret {
            display: none; }
          .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li a, header div.header-wrapper .site-nav .menu.menu--main-menu > li a {
            cursor: default;
            line-height: 4;
            padding: 0 1em; }
            .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li a:not([href=""]), header div.header-wrapper .site-nav .menu.menu--main-menu > li a:not([href=""]) {
              cursor: pointer; }
            .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li a:after, header div.header-wrapper .site-nav .menu.menu--main-menu > li a:after {
              content: none; }
            .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li a:hover, header div.header-wrapper .site-nav .menu.menu--main-menu > li a:hover {
              background: rgba(0, 0, 0, 0.5); }
            @media only screen and (max-width: 1210px) {
              .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li a, header div.header-wrapper .site-nav .menu.menu--main-menu > li a {
                line-height: 3;
                display: flex; } }
          .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li ul, header div.header-wrapper .site-nav .menu.menu--main-menu > li ul {
            margin: 0; }
            .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu, header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu {
              border: none;
              padding: 0; }
              .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu:before, header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu:before {
                content: none; }
              .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li, header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li {
                margin: 0; }
                .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li a, header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li a {
                  width: 100%;
                  font-size: 1.2em;
                  line-height: 3; }
                  .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li a:before, header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li a:before {
                    content: none; }
                  @media only screen and (max-width: 1210px) {
                    .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li a:hover, .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li a:active, header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li a:hover, header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li a:active {
                      background: rgba(0, 0, 0, 0.8); } }
                  @media only screen and (max-width: 1210px) {
                    .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li a, header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu li a {
                      background: rgba(0, 0, 0, 0.4);
                      padding-left: 2em; } }
              @media only screen and (max-width: 1210px) {
                .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu, header div.header-wrapper .site-nav .menu.menu--main-menu > li ul.dropdown-menu {
                  display: block !important;
                  position: relative;
                  width: 100%; } }
          @media only screen and (max-width: 1210px) {
            .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li, header div.header-wrapper .site-nav .menu.menu--main-menu > li {
              display: none;
              background: black; } }
        .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li:last-child ul, header div.header-wrapper .site-nav .menu.menu--main-menu > li:last-child ul {
          left: -8.5em; }
          @media only screen and (max-width: 1210px) {
            .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu > li:last-child ul, header div.header-wrapper .site-nav .menu.menu--main-menu > li:last-child ul {
              left: 0; } }
        @media only screen and (max-width: 1210px) {
          .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu, header div.header-wrapper .site-nav .menu.menu--main-menu {
            top: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            display: block;
            height: 4em;
            position: fixed;
            transition: .1s; } }
        @media only screen and (max-width: 1210px) {
          .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu.open-main-menu, header div.header-wrapper .site-nav .menu.menu--main-menu.open-main-menu {
            height: 100%;
            overflow-y: scroll;
            transition: .1s;
            z-index: 999; } }
        @media only screen and (max-width: 1210px) {
          .sticky-header header div.header-wrapper .site-nav .menu.menu--main-menu:before, header div.header-wrapper .site-nav .menu.menu--main-menu:before {
            font-family: 'Font Awesome\ 5 Free';
            content: "\f0c9";
            color: white;
            float: right;
            padding: 1em 2em 0 0; } }

/*main .container .wrapper-center {
  padding: 0;
}

main .container {
  width: 100%;
}

article[role="article"] {
  margin: 0;
  min-width: 100%;
  text-align: center;
}

.img-responsive {
  min-width: 100%;
  height: calc( 80vh - 78px );
}

.page-header.cern-lazy-in-content {
  position: absolute;
  color: white;
  z-index: 999;
  top: calc(50vh - 78px) !important;
  left: 42% !important;
  background: rgba(0,0,0,.8);
  padding: .5em;
}

.field--name-body.field--type-text-with-summary{
  font-size: 3em !important;
  padding: 3em 10em !important;

  @media only screen and (max-width: 1400px) {
    padding: 3em 6em !important;
  }

  @media only screen and (max-width: 1210px) {
    padding: 3em 2em !important;
  }
}

.cern-footer {
  font-size: 0em !important;
}*/
