// create new template

/*main .container .wrapper-center {
  padding: 0;
}

main .container {
  width: 100%;
}

article[role="article"] {
  margin: 0;
  min-width: 100%;
  text-align: center;
}

.img-responsive {
  min-width: 100%;
  height: calc( 80vh - 78px );
}

.page-header.cern-lazy-in-content {
  position: absolute;
  color: white;
  z-index: 999;
  top: calc(50vh - 78px) !important;
  left: 42% !important;
  background: rgba(0,0,0,.8);
  padding: .5em;
}

.field--name-body.field--type-text-with-summary{
  font-size: 3em !important;
  padding: 3em 10em !important;

  @media only screen and (max-width: 1400px) {
    padding: 3em 6em !important;
  }

  @media only screen and (max-width: 1210px) {
    padding: 3em 2em !important;
  }
}

.cern-footer {
  font-size: 0em !important;
}*/