@import 'color/colors.scss';

/*
1. Home Page
   1.1 Home Page Header Image
   1.2 Home Page Thumbnails
   1.3 Home Page Indico Feeds
   1.4 Home Page Indico Feed Blocks
2. Pages
  2.1 Links Block
  2.2 Indico Sidebar
*/






.component-row.component-row__display__fluid.section-navigation.effect_background_parallax.is_full_height {
  height: calc(70vh - 78px) !important;

  @media only screen and (max-width: 1210px) {
    height: calc(80vh - 78px) !important;
  }
}


//--- arrow ---//
.cern-component-header-blocks .component-header__scroll {
  top: calc(20vh - 78px);

  @media only screen and (max-width: 1210px) {
    top: calc(30vh - 78px);
  }

  /*@media only screen and (max-width: 1210px) {
   top: calc(20vh - 78px);
  }*/
}

// -- admin edit buttons
.region-content > nav.tabs {
  position: absolute;
  top: 41em !important;
}

// mobile for background at menu and title

.sticky-header.toolbar-fixed header {
  @media only screen and (max-width: 1210px) {
    //height: 4em;
  }
}





/*----- 1.Home Page -----*/

/*----- 1.1 Home Page Header Image -----*/




/*.header-block {
  .header-block__title {
    top: 20%;
    .header-block__name {
      background: $half-black;
      position: relative;
      line-height: 1.5 !important;
      color: $white;
      padding: 1em;
      width: 30%;

      @media only screen and (max-width: 1350px) {
        top: 3em;
        width:100%;
      }
    }
  }
}*/

//-------- title at header image --home page

.header-block {
  .header-block__title {
    top: calc(20vh - 78px);
    color: $white;
    width: 60%;
    background: rgba(0,0,0,.5);



    @media only screen and (max-width: 1210px) {
      width: 50%;
      bottom: 60% !important; // to be fixed
      position: relative !important; // to be fixed
      padding: 0 !important; //to be fixed
    }

    @media only screen and (max-width: 767px) {
      width: 100%;
      bottom: 55%;
      margin:0 !important;
      padding:0 !important;
      position: relative !important; // to be fixed
    }

    .header-block__name {
      margin: 0 !important; // to be fixed
      padding: 1em;
      line-height: 1.5 !important; // to be fixed
    }
  }
}

//-------- site name

/*header {
    .region-header {
      > .name {
        line-height: 1.5; // make the site name at the same level of main menu
        font-size: 2em;
        font-weight: bold;

        @media only screen and (max-width: 1350px) {
          position: absolute;
          width: 50%;
          line-height: 0;
          top: 1em;
        }
      }
    }
}*/

//------ site name
.region-header > .name {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.6em;

  @media only screen and (max-width: 767px) {
    position: relative;
    top: -3em;
    font-size: 1em;
    line-height: 0;
    left: 1em;
    font-weight: unset;
  }
}

/*.sticky-header .region-header > .name {
  line-height: 1;
}*/


/*----- 1.2 Home Page Thumbnails -----*/

.front-page-thumbnails {
  margin:0 !important; // to be fixed
  .view-front-page-thumbnail.cern-view-display-home {
    text-align: center;
    margin-bottom: 0;

     div {
      display: table-cell;
      padding: 1em 1em 0em 1em;
      position: relative;

       @media only screen and (min-width: 1210px) {
         height: 25em; // necessary for firefox, without this the thumbnails break.
       }

      > a {
        color: $white;
        position: relative;
        font-size: 1.5em;
        top: 2em;
      }
    }

    ul {
      position: absolute;
      bottom: 0;
      padding: 0;
      text-align: left;
      list-style: none;
      //display: grid;
      width: 90%;
      margin:0;

      li {
        //display:contents;
        //position: absolute;
        display: flex;

        a {
          font-size: 1.1em;
          color: $white;
          line-height: 1.5;
          //top: 0;
          padding: 0.4em 1em;
          position: relative;
          width: 100%;

          &:hover {
            background: $light-black-background;
            //transition: .3s;
          }
        }
      }
    }

    img {
      min-height: 100%;
    }
  }
}

/*----- 1.2 Home Page Indico Feeds -----*/

.block-custom-wrapper {
  background: none;
  color: $black;

  &.whats-on-block {
    padding: 20px 0;
    margin: 5em 0;
    background: none;

    .front-line-indico {
      background: $text-color;
      color: $white;
      width: 100%;
      position: relative;
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      padding: 1em;
    }
  }

  .landing-page-content-block {
    margin: 3em 0 10px !important; // to be fixed
    color: $black !important;
  }
}

/*----- 1.3 Home Page Indico Feed Blocks -----*/

section {
  &.block-views-blockindico-feed-indico-feed-ph-seminars {
    width: 50%;
    float: left;
    text-align: right;
    min-height: 15em;
    padding-top: 2em;
    padding-right: 2em;


    @media only screen and (max-width: 1210px) {
      min-height: 20em;
    }
    .view-header {
      font-size: 2em;
    }

    .view-content {
      width: 50%;
      float: right;
    }
  }

  &.block-views-blockindico-feed-indico-feed-th-institutes {
    width: 50%;
    float: right;
    min-height: 15em;
    padding: 2em 0 0 2em;
    border-left: 1px solid $black;


    @media only screen and (max-width: 1210px) {
      min-height: 20em;
    }
    .view-header {
      font-size: 2em;
    }

    .view-content {
      width: 50%;
    }
  }

  &.block-views-blockindico-feed-indico-feed-fcc-collider {
    width: 50%;
    float: left;
    text-align: right;
    min-height: 15em;
    top: -2em;
    position: relative;

    @media only screen and (max-width: 1210px) {
      min-height: 20em;
    }

    &:before {
      content:'';
      width: 50%;
      left: 50%;
      border-top: 1px solid $black;
      position: relative;
    }

    .form-group {
      padding: 0 2em 0 2em;
    }

    .view-header {
      font-size: 2em;
      padding-top: 1em;
    }

    .view-content {
      width: 50%;
      float: right;
    }
  }

  &.block-views-blockindico-feed-indico-feed-mcnet {
    width: 50%;
    float: right;
    min-height: 15em;
    border-left: 1px solid $black;
    top: -2em;
    position: relative;

    @media only screen and (max-width: 1210px) {
      min-height: 20em;
    }

    &:before {
      content: '';
      width: 50%;
      position: relative;
      border-top: 1px solid $black;
    }

    .form-group {
      padding:0 2em 0 2em;
    }

    .view-header {
      font-size: 2em;
      padding-top: 1em;
    }

    .view-content {
      width:50%;
    }
  }
}

/*----- 2. Pages -----*/

/*----- 2.1 Links Block -----*/

.landing-page-block-links {
  width: 50%;
  position: relative;

  ul {
    margin: 0 !important; // to be fixed
    li {
      background: $text-color;
      margin-bottom: 1em;
      //padding: 0.5em;
      transition: .5s;
      height: 2.5em;

      &:before {
        display: none;
      }

      &:hover {
        background-color: $header-background;
        border-color: $header-background;
        transition: .5s;
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: $white !important;
        width: 100%;
        position: absolute;
        padding: .5em;
        font-size: 1.2em;

        &:hover {
          text-decoration: none;
          color: $white !important; // to be fixed
        }
      }
    }
  }
}

/*----- 2.2 Indico Sidebar -----*/

.indico-feed-sidebar {
  background: $text-color;
  color: $white;
  line-height: 2;
  position: relative;
  top: 6em;
  padding: 1em;
  margin-right: 1em;

  .view-header {
    font-size: 2em;
    border-bottom: 1px solid $white;
  }

  .view-content .views-row{

    .views-field-title {
      padding-top: 1em;

      .field-content a {
        font-size: 1.2em !important; //to be fixed
      }

      .field-content {
        a {
          color: $white;
          font-size: 1em;
          transition: .2s;
          text-decoration: none;

          &:hover {
            transition: .2s;
            text-shadow: 1px 1px $white;
          }
        }
      }
    }

    &:not(:last-child) .views-field-field-indico-event-start-date {
      border-bottom: 1px solid $white;
      width: 6em;
    }
  }
}

//---------------------

@media only screen and (max-width: 1210px) {
  .front-page-thumbnails .view-front-page-thumbnail.cern-view-display-home {
    div {
      display: inline-block;
      padding: 0;
      position: relative;
      ul {
        bottom: 0;
        width: 100%;

        li {
          a {
            padding: 0em 1em;
          }
        }
      }
    }
  }

  .structure-page-block {
    width: 100%;
  }

  .indico-feed-sidebar {
    top: 5em;
    left:2em;
    margin-right: 4em;
  }

  .block-views-blockindico-feed-indico-feed-ph-seminars,
  .block-views-blockindico-feed-indico-feed-th-institutes,
  .block-views-blockindico-feed-indico-feed-fcc-collider,
  .block-views-blockindico-feed-indico-feed-mcnet {
    min-height: 25em;

    @media only screen and (max-width: 535px) {
      min-height: 30em;
    }
  }
}

