@import 'color/colors.scss';

/*---------- Many of the rule-sets are overriding the CERN themes' rules. ---------- */

.sticky-header header, header {
  height: 4em;

  div.header-wrapper {
    height: 4em;
    padding: 0 5% 15px;

    .site-nav {
      width: 100%;
      height: 4em;

      .menu {
        &.menu--main-menu {
          display: flex;
          float: right;
          height: 4em;

          > li {
            margin: 0;

            span.caret {
              display: none;
            }

            a {
              cursor: default;
              line-height: 4;
              padding: 0 1em;

              &:not([href=""]) {
                cursor: pointer;
              }

              &:after {
                content: none;
              }

              &:hover {
                background: $half-black;
              }

              @media only screen and (max-width: 1210px) {
                line-height: 3;
                display: flex;
              }
            }

            ul {
              margin:0;

              &.dropdown-menu {
                border: none;
                padding: 0;

                &:before {
                  content: none;
                }

                li {
                  margin: 0;
                  a {
                    width: 100%;
                    font-size: 1.2em;
                    line-height: 3;

                    &:before {
                      content: none;
                    }

                    &:hover, &:active {
                      @media only screen and (max-width: 1210px) {
                        background: rgba(0,0,0,.8);
                      }
                    }

                    @media only screen and (max-width: 1210px) {
                      background: rgba(0,0,0,.4);
                      padding-left: 2em;
                    }
                  }
                }
                @media only screen and (max-width: 1210px) {
                  display: block !important; // to remove important
                  position: relative;
                  width:100%;
                }
              }
            }

            @media only screen and (max-width: 1210px) {
              display: none;
              background: black;
            }
          }

          //last menu item, we do it like that because the last dropdown submenu is going out of the screen
          > li:last-child {
            ul {
              left: -8.5em;

              @media only screen and (max-width: 1210px) {
                left: 0;
              }
            }
          }

          @media only screen and (max-width: 1210px) {
            top:0;
            right:0;
            bottom: 0;
            cursor: pointer;
            display: block;
            height: 4em;
            position: fixed;
            transition: .1s;
          }

          &.open-main-menu {
            @media only screen and (max-width: 1210px) {
              height: 100%;
              overflow-y: scroll;
              transition: .1s;
              z-index: 999;
            }
          }

          &:before {
            @media only screen and (max-width: 1210px) {
              font-family: 'Font Awesome\ 5 Free';
              content: "\f0c9";
              color: $white;
              float:right;
              padding: 1em 2em 0 0;
            }
          }
        }
      }
    }
  }
}



