@import '../variables.scss';

/*--------------------------------
 | @file colors.scss
 |
 | Defines colors for the theme
 |--------------------------
*/

/*-----------
  Generic Colors
 -------------*/

$white: rgba(255 ,255, 255, 1);
$black: rgba(0,0,0,1);
$half-black: rgba(0,0,0,.5);
$light-black-background: rgba(0,0,0,.2);
$dark-black-background: rgba(0,0,0,.8);

// mixins variables
//@import '../variables.scss';
//header
$header-background: #343a40;
$header-name: #fafafa;
//menu
$menu-link: #fffffe;
//body
$text-color: #292929;
$link-color: #2574b9;
$link-color-hover: #044873;
$body-bg: #ffffff;
$html-u-underline: #292920;
$html-hr: #cacaca;
// $html-unordered-list-bullets: #333330;
$html-caption: #aaaaaa;
//tabs
$tabs-active-background: #f2f6fa;
$tabs-active-text: #1161af;
$tabs-inactive-background: #fffdfd;
$tabs-inactive-text: #105ea9;
//table
$table-background: #fefefe;
$table-header-background: #212529;
$table-header-color: #efefef;
$table-row-even: #e9ecef;
$table-row-odd: #f9f9fa;
$table-row-text: #333333;
$table-footer-background: #333339;
$table-footer-text: #999999;
//icons
$icons-slider-navigation-active: #f1862d;
$icons-slider-navigation-inactive: #dddddd;
$icons-chevrons-underline: #f1862e;
$icons-blockquotes: #bbbbbb;
$icons-slider-arrow-active: #0855a0;
$icons-slider-arrow-inactive: #bebebe;
//VIEWS
$views-cards-background: #0f5aa4;
$views-cards-title: #fdfeff;
$views-cards-color: #e9f5ff;
//TAXONOMY
$tag-background: #165e9d;
$tag-color: #f2f9ff;
//BUTTONS
$buttons-border: #063b6f;
$buttons-primary-background: #074888;
$buttons-primary-text: #fbfdff;
$buttons-primary-background-hover: #595959;
$buttons-primary-text-hover: #02172a;
$buttons-secondary-background: #0d62b6;
$buttons-secondary-text: #ececec;
$buttons-secondary-background-hover: #696b6c;
$buttons-secondary-text-hover: #062d53;
//footer
$footer-background: #191919;
$footer-text: #fffeee;
$footer-link: #fffefe;
$footer-link-hover: #0d72ca;
// body
body {
  color: $text-color;
  background: $footer-background;
}

main {
  background: $body-bg;
}

// header
header {
  .region-header {
    &>.logo,
    &>.name,
    &>.navbar-text {
      color: $header-name;
    }
  }
}

header {
  background: $header-background;
  .nav>li>a {
    color: $menu-link;
    &:after {
      background: $icons-chevrons-underline;
    }
  }
}

header .navbar-default {
  .navbar-nav {
    &>li>a {
      color: $menu-link;
    }
    &>li>a:hover,
    &>li>a:focus {
      color: $menu-link;
    }
    &>.open>a,
    &>.open>a:hover,
    &>.open>a:focus {
      color: $menu-link;
    }
  }
}

@media (max-width: 767px) {
  header .navbar-default {
    .navbar-nav {
      .open {
        .dropdown-menu {
          &>li>a {
            color: $menu-link;
          }
          &>li>a:hover,
          &>li>a:focus {
            color: $menu-link;
          }
          &>.active>a,
          &>.active>a:hover,
          &>.active>a:focus {
            color: $menu-link;
            background-color: $header-background;
          }
          &>.disabled>a,
          &>.disabled>a:hover,
          &>.disabled>a:focus {
            color: $menu-link;
          }
        }
      }
    }
  }
}

header .navbar-collapse.collapse.in,
header .navbar-collapse.collapsing {
  background: $header-background;
}

// dropdown
header .dropdown-menu {
  background: $header-background;
  border-color: $header-background;
  &:before {
    border-color: transparent transparent $header-background transparent;
  }
  &>li {
    &>a {
      background: $header-background;
      color: $menu-link;
      &:hover,
      &:focus {
        background: $header-background;
        color: $menu-link;
      }
      &:before {
        color: $icons-chevrons-underline;
      }
      &:after {
        background: $icons-chevrons-underline;
      }
    }
  }
}

.sticky-header {
  header {
    background: $header-background !important;
  }
}
.has-header header.menu-expanded {
  background: $header-background !important;
}

// tabs
.region-content>nav.tabs {
  background: $header-background;
  a.is-active {
    color: $header-background;
  }
}

main .field--type-text-with-summary {
  .nav-tabs {
    li {
      a {
        color: $tabs-inactive-text;
        background: $tabs-inactive-background;
      }
      &.active,
      &:hover {
        a {
          background: $tabs-active-background;
          color: $tabs-active-text;
        }
      }
    }
  }
  .tab-content {
    background: $tabs-active-background;
    color: $tabs-active-text;
  }
}

// footer
body>footer {
  background: $footer-background;
  color: $footer-text;
  h2 {
    color: $footer-text !important;
    &:after {
      background: $footer-text !important;
    }
  }
  nav ul.menu.nav li a {
    color: $footer-link;
    &:hover {
      color: $footer-link;
      &:before {
        color: $icons-chevrons-underline;
      }
    }
    &:before {
      color: $icons-chevrons-underline;
    }
    &:after {
      background: $icons-chevrons-underline;
    }
  }
  section[id*='followus']:after {
    background: $footer-text;
  }
  section a {
    color: $footer-link;
    &:hover {
      color: $footer-link-hover;
    }
  }
  div[class*="footercolumn1"] {
    &:after {
      background: $footer-text;
    }
  }
  .block-custom-wrapper {
    color: $footer-text;
    .field--name-field-visible-title {
      color: $footer-text;
      &:after {
        background: $footer-text;
      }
    }
  }
}

// html markup
main {
  .field--type-text-with-summary {
    a {
      color: $link-color;
      &:hover {
        color: $link-color-hover;
      }
    }
    ul {
      li {
        &::before {
          color: $html-u-underline;
        }
      }
    }
    u {
      text-decoration-color: $html-u-underline;
    }
    table {
      background: $table-background;
      thead {
        th {
          background: $table-header-background;
          color: $table-header-color;
          padding: 5px;
        }
      }
      tbody {
        tr:nth-child(odd) {
          background-color: $table-row-odd;
        }
        tr:nth-child(even) {
          background-color: $table-row-even;
        }
        td {
          color: $table-row-text;
        }
      }
      tfoot {
        td {
          background-color: $table-footer-background;
          color: $table-footer-text;
        }
      }
    }
    blockquote {
      color: $icons-blockquotes;
    }
    hr {
      border-top-color: $html-hr !important;
    }
  }
}

.field--type-link {
  a {
    color: $link-color;
    &:hover {
      color: $link-color-hover;
    }
  }
}

// dots
.owl-theme .owl-dots .owl-dot span {
  background: $icons-slider-navigation-inactive;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $icons-slider-navigation-active;
}

.owl-theme .owl-dots .owl-dot.active,
.owl-theme .owl-dots .owl-dot:hover {
  border: 2px solid $icons-slider-navigation-active;
}

// slider arrows
.component-slider .owl-nav .owl-prev,
.component-slider .owl-nav .owl-next {
  color: $icons-slider-arrow-active;
}

.component-slider .owl-nav .owl-prev:hover,
.component-slider .owl-nav .owl-next:hover {
  color: $icons-slider-arrow-active;
}

.component-slider .owl-nav .owl-prev.disabled,
.component-slider .owl-nav .owl-next.disabled {
  color: $icons-slider-arrow-inactive;
}

// caption
.component-slide__caption {
  color: $html-caption;
}

figcaption {
  color: $html-caption;
}

// tags  
.content {
  .field {
    &.field--type-entity-reference {
      .field--item {
        a {
          background: $tag-background;
          color: $tag-color;
          &:hover {
            color: $tag-color;
          }
        }
      }
    }
  }
}

// buttons
.btn-default {
  color: $buttons-secondary-text;
  background-color: $buttons-secondary-background;
  border-color: $buttons-border;
  &:focus,
  &.focus {
    color: $buttons-secondary-text-hover;
    background-color: $buttons-secondary-background-hover;
    border-color: $buttons-border;
  }
  &:hover {
    color: $buttons-secondary-text-hover;
    background-color: $buttons-secondary-background-hover;
    border-color: $buttons-border;
  }
  &:active,
  &.active {
    color: $buttons-secondary-text-hover;
    background-color: $buttons-secondary-background-hover;
    border-color: $buttons-border;
    background-image: none;
    &:hover,
    &:focus,
    .focus {
      color: $buttons-secondary-text-hover;
      background-color: $buttons-secondary-background-hover;
      border-color: $buttons-border;
    }
  }
  .badge {
    color: $buttons-secondary-text;
    background-color: $buttons-secondary-background;
  }
  &.disabled:hover,
  &[disabled]:hover,
  &.disabled:focus,
  &[disabled]:focus,
  &.disabled.focus,
  &[disabled].focus {
    background-color: $buttons-secondary-background-hover;
    border-color: $buttons-border;
  }
}

.open>.dropdown-toggle.btn-default {
  color: $buttons-secondary-text-hover;
  background-color: $buttons-secondary-background-hover;
  border-color: $buttons-border;
  background-image: none;
  &:hover,
  &:focus,
  &.focus {
    color: $buttons-secondary-text-hover;
    background-color: $buttons-secondary-background-hover;
    border-color: $buttons-border;
  }
}

fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
  background-color: $buttons-secondary-background-hover;
  border-color: $buttons-border;
}

.btn-primary {
  color: $buttons-primary-text;
  background-color: $buttons-primary-background;
  border-color: $buttons-border;
}

.btn-primary:focus,
.btn-primary.focus {
  color: $buttons-primary-text-hover;
  background-color: $buttons-primary-background-hover;
  border-color: $buttons-border;
}

.btn-primary:hover {
  color: $buttons-primary-text-hover;
  background-color: $buttons-primary-background-hover;
  border-color: $buttons-border;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  color: $buttons-primary-text-hover;
  background-color: $buttons-primary-background-hover;
  border-color: $buttons-border;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
  color: $buttons-primary-text-hover;
  background-color: $buttons-primary-background-hover;
  border-color: $buttons-border;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: $buttons-primary-background-hover;
  border-color: $buttons-border;
}

.btn-primary .badge {
  color: $buttons-primary-text;
  background-color: $buttons-primary-background;
}

.btn-success {
  color: $buttons-primary-text;
  background-color: $buttons-primary-background;
  border-color: $buttons-border;
}

.btn-success:focus,
.btn-success.focus {
  color: $buttons-primary-text-hover;
  background-color: $buttons-primary-background-hover;
  border-color: $buttons-border;
}

.btn-success:hover {
  color: $buttons-primary-text-hover;
  background-color: $buttons-primary-background-hover;
  border-color: $buttons-border;
}

.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
  color: $buttons-primary-text-hover;
  background-color: $buttons-primary-background-hover;
  border-color: $buttons-border;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open>.dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open>.dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open>.dropdown-toggle.btn-success.focus {
  color: $buttons-primary-text-hover;
  background-color: $buttons-primary-background-hover;
  border-color: $buttons-border;
}

.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: $buttons-primary-background-hover;
  border-color: $buttons-border;
}

.btn-success .badge {
  color: $buttons-primary-text;
  background-color: $buttons-primary-background;
}

// views
.views-view-grid {
  .views-row {
    .views-col {
      article {
        background: $views-cards-background;
        color: $views-cards-color;
        a {
          color: $link-color;
          &:before {
            color: $icons-chevrons-underline;
          }
          &:hover {
            color: $link-color-hover;
          }
        }
        &>h2 {
          a {
            color: $views-cards-title;
            &:hover {
              color: $views-cards-title;
            }
          }
        }
      }
    }
  }
}

.view-content {
  table {
    background: $table-background;
    thead {
      th {
        background: $table-header-background;
        color: $table-header-color;
        padding: 5px;
      }
    }
    tbody {
      tr:nth-child(odd) {
        background-color: $table-row-odd;
      }
      tr:nth-child(even) {
        background-color: $table-row-even;
      }
      td {
        color: $table-row-text;
      }
    }
    tfoot {
      td {
        background-color: $table-footer-background;
        color: $table-footer-text;
      }
    }
  }
}

// blocks
.block-custom-wrapper {
  background: $views-cards-background;
  color: $views-cards-color;
  .field--name-field-visible-title {
    color: $views-cards-title;
    &:before {
      color: $icons-chevrons-underline;
    }
  }
}

main {
  .block-custom-wrapper {
    .field--type-text-with-summary {
      a {
        color: $link-color;
        &:hover {
          color: $link-color-hover;
        }
      }
    }
  }
}

// pagination
.pagination {
  &>li {
    a,
    span {
      @include transition(all 0.3s ease-in-out 0s);
      color: $link-color;
    }
    a::before {
      color: $link-color;
    }
    a:hover {
      color: $link-color-hover;
    }
  }
  .page {
    &__item--previous,
    &__item--next {
      &::before {
        color: $link-color;
      }
      &:hover {
        &::before {
          color: $link-color-hover;
        }
      }
    }
  }
}
